.how-its-made_title {
    margin-bottom: 20px;
}

.how-its-made_video {
    margin-bottom: 20px;
}

.how-its-made_text {
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: #131313;
}