body {
    font-size: 14px;
    font-weight: 400;
    color: $primary-text-color;
    font-family: 'Montserrat', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  //mobile//

  @media screen and(min-width: 480px) {
    max-width: 480px;
  }

  //tablet//

  @media screen and(min-width: 768px) {
    max-width: 768px;
  }

  //desktop//

  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }
}
