// Colors

//Buttons
$default-button-color: #F8D24E;
$hover-focus-button-color: #0A8817;
$disabled-button-color: #ABABAB;

//Text
$primary-text-color: #131313;
$secondary-text-color: #FCFCFC;

//Background
$primary-background-color: #84A178;
